mat-card {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 1rem auto;
    padding: 3rem;
    display: flex;
    /* Usa flexbox para organizar o conteúdo */
    flex-direction: column;
    /* Coloca os itens em coluna */
    align-items: center;
    /* Centraliza horizontalmente */
    text-align: center;
    /* Centraliza o texto */
    position: relative;
    /* Para posicionar o texto em relação ao card */
}

.image-container {
    margin-top: 20px;
    /* Ajuste a margem para posicionar a imagem para baixo */
}

.image-container img {
    max-width: 100%;
    /* Garante que a imagem não ultrapasse o card */
    height: auto;
    /* Mantém a proporção da imagem */
}


/* Estilo para o texto sobre a imagem */

.mat-card-header {
    position: absolute;
    /* Para sobrepor o texto na imagem */
    top: 20px;
    /* Ajuste a posição vertical */
    left: 50%;
    transform: translateX(-50%);
    /* Centraliza horizontalmente */
    color: white;
    /* Ajuste a cor conforme necessário */
    background: rgba(0, 0, 0, 0.5);
    /* Fundo semitransparente para melhor legibilidade */
    padding: 10px;
    /* Adiciona espaçamento ao redor do texto */
    border-radius: 5px;
    /* Cantos arredondados */
}

@media (max-width: 600px) {
    mat-card {
        width: 95%;
    }
}